<div class="example-wrapper">
  <div>
    <button class="btn" mat-stroked-button color="primary" (click)="buttonOne()"> Button 1</button>
    <button class="btn"  mat-stroked-button color="primary" (click)="buttonTwo()">Buton 2</button>
    <button class="btn" mat-stroked-button color="primary" (click)="buttonThree()">Button 3 </button>
  </div>
  <!--
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table> -->

  <!-- <ag-grid-angular 
      style="width: 500px; height: 500px;" 
      class="ag-theme-balham"
      [gridOptions]="gridOptions"
      >
  </ag-grid-angular> -->

  <ag-grid-angular
    style="width: 100%; height: 100%; margin-top: 20px;"
    class="ag-theme-balham" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData" 
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>